
/*Our css*/

* {
    font-family: 'EB Garamond', serif;
}

p {
    font-size: 19px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .bottom-menu {
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 7%;
        /*opacity: 0.9;*/
    }

    .bottom-menu-card {
        background-color: #7EAF71;
        border: 1px solid white;
        padding: 5px;
    }

    .bottom-menu-card:hover {
        background-color: springgreen;
    }

    .menu ul li:hover ul {
        position: absolute !important;
    }

    .menu ul li:hover ul {
        display: block;
        /*position: relative;*/
        /*margin-top: 5px;*/
        background: #FFF;
        /*border-radius: 6px;*/
        /*width: 100%;*/
        /*padding: 10px 2px;*/
        /*box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);*/
        /*z-index: 100;*/
    }
}

@media (min-width: 992px) {

}

@media (max-width: 992px) {
    .sidebar-kontakt {
        display: none;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (max-width: 768px) {
    /*Broj slika koji se prikazuje u slideru 100/width% */
    .slide {
        width: 100%;
    }

    .slide-artikli {
        width: 100%;
    }

    .bottom-menu {
        position: fixed !important;
        bottom: 0 !important;
        width: 100% !important;
    }

    .bottom-menu-card {
        background-color: #A4CE95;
        border: 1px solid white;
        padding: 5px;
    }


    .show-nav-menu {
        display: block !important;
        position: relative;
        margin-top: 5px;
        background: #FFF;
        border-radius: 6px;
        width: 100%;
        padding: 10px 20px;
        /*box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);*/
        z-index: 100;
    }

    #footer {
        margin-bottom: 34px !important;
    }

    .slide-md {
        max-width: 1200px;
        width: 100%;
        position: absolute;
        transition: all 0.5s;
        max-height: 80vh;
    }
}

@media (min-width: 769px) {
    .slide-md {
        max-width: 2400px;
        width: 100%;
        position: absolute;
        transition: all 0.5s;
        height: 80vh;
    }
}


body {
    margin: 0;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}
.font-24 {
    font-size: 24px;
}

.w-600 {
    font-weight: 600;
}

header {
    background-color: rgba(244, 237, 204, 1);
    color: #000;
    /*box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.50);*/
    /*border-bottom: solid 1px goldenrod;*/
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

ul.nav {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.nav > li {
    cursor: pointer;
    padding: 0.8em;
    /*font-size: 20px;*/
    position: relative;
}
.nav-item {
    font-size: 16px;
}

.nav a {
    text-decoration: none;
    color: #000 !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-div {
    position: relative;
}

.hero-pozadina {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(97, 150, 166, 0.8); /* Green background with 0.5 opacity */
    color: #f1f1f1;
    outline: 1px solid white;
    width: 100%;
    height: auto;
}

.hero-cap {
    /*position: absolute;*/
    /*right: 15%;*/
    /*top: 15%;*/
    /*transform: translateY(-15%);*/
    /*left: 15%;*/
    /*padding-top: 1.25rem;*/
    /*padding-bottom: 1.25rem;*/
    color: #fff;
    /*text-align: center;*/
}

.hero-p {
    color: #fff;
    font-size: 18px;
    /*position: absolute;*/
    /*right: 15%;*/
    /*top: 30%;*/
    /*transform: translateY(-30%);*/
    /*left: 15%;*/
    /*padding-top: 1.25rem;*/
    /*padding-bottom: 1.25rem;*/
    /*text-align: center;*/
}

.logo-bg {
    background-color: #6196A6;
}

.logo-bg-white {
    background-color: white;
}

.oblak {
    font-size: 16px;
    color: white;
    padding: 2px 8px;
    background-color: #7EAF71;
    border-radius: 50px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}

.oblak:hover {
    color: white;
    padding: 2px 8px;
    background-color: springgreen;
    border-radius: 50px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}

/*main {*/
/*    background-color: #383e42;*/
/*}*/

.card-proizvodi {
    position: relative;
}

.card-pozadina {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(50, 141, 135, 0.6); /* Green background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0 5px 5px, rgba(0, 0, 0, 0.22) 0 5px 5px;*/
}

/*.card-pozadina:hover {*/
/*    outline: 1px solid white;*/
/*}*/

.card-pozadina p {
    font-size: 22px;
    margin: 10px 0;
}

.border-radius-15 {
    border-radius: 50%;
    border: solid 2px #e4d481;
}
.card-link {
    color: #6196A6;
    text-decoration: none;
    font-size: 25px;
}
.card-link:hover {
    color: #5F5D9C;
}

.img-radius {
    border-radius: 15px 50px;
}

.gold-color {
    color: rgb(178, 157, 95);
}

.usluge .card-usluge {
    background-color: #e4d481;
    border-bottom: 2px solid #e4d481;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px, rgba(0, 0, 0, 0.22) 0 4px 4px;
}

.card-usluge:hover {
    background-color: #d7be42;
}

.usluge .card-title a {
    color: #6196A6;
    text-decoration: none !important;
    font-weight: bold;
}

.usluge .card-title a:hover {
    color: #5F5D9C;
}

.card-usluge {
    border-radius: 15px;
}

.card-align {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-align > * {
    /*flex: 1;*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.color-grey {
    color: #383e42;
}

.hr-text {
    font-size: 30px;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #b29d5f;
    text-align: center;
    height: 1.5em;
    /*opacity: .9;*/
}

.hr-text:before {
    content: '';
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#b29d5f), to(transparent));
    background: linear-gradient(to right, transparent, #b29d5f, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #b29d5f;
    background-color: white;
}

/*====================
	Footer
====================== */

/* Main Footer */
footer .main-footer {
    padding: 20px 0;
    background: #5F5D9C;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
    background-color: #3b3960;
    color: white;
    padding: 5px 0;
}

.footer-copyright .logo {
    display: inherit;
}

.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright nav ul li {
    border-left: 1px solid #505050;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

.footer-copyright nav ul li a {
    color: #969696;
}

.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}

.footer-copyright p {
    /*color: black;*/
    margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
    background: #252525;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
    background: #f9f9f9;
}

footer.light .main-footer {
    background: #f9f9f9;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
    display: inline-block;
}

/*====================
	Widgets
====================== */
.widget {
    padding: 20px;
    margin-bottom: 40px;
}

.widget.widget-last {
    margin-bottom: 0;
}

.widget.no-box {
    padding: 0;
    background-color: transparent;
    margin-bottom: 40px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.widget.subscribe p {
    margin-bottom: 18px;
}

.widget li a, .widget a {
    text-decoration: none;
    color: #e4d481;
}

.widget li a:hover, .widget a:hover {
    color: #e4d481;
    text-decoration: underline;
}

.widget-title {
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.widget-title span {
    background: #e4d481 none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 40px;
}

.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}

.widget-title.text-center span, .widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.widget .badge {
    float: right;
    background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #fff;
}

ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
}

ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}

ul.social-footer2 li a:hover {
    background-color: #e4d481;
    border-radius: 0.25rem;
}

ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

footer .btn {
    background-color: #e4d481;
    color: #0e0e0e;
}

footer .btn:hover, footer .btn:focus, footer .btn.active {
    background: #e4d481;
    color: #fff;
    /**-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;**/

}

.fa.luminescence {
    color: white;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
    /*margin-bottom: 20px;*/
}

.fa.luminescence:hover {
    color: #a8dadc;
    transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.kontakt-podatci {
    color: white;
    /*background-color: rgba(55, 100, 109, 0.7);*/
    border-radius: 10px;
}

.text-link {
    color: #a8dadc;
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
    color: #a8dadc;
}

.text-link-dark {
    color: #193438;
    text-decoration: underline;
}

.text-link-dark:hover {
    text-decoration: underline;
    color: #193438;
}

.kontakt-podatci {
    font-size: 18px;
}

.kontakt-podatci a, .text-link a {
    color: #e4d481;
    text-decoration: none;
    transition-duration: 0.2s;
}

.kontakt-podatci a:hover, .text-link a:hover {
    text-decoration: underline;
}

.list-unstyled {
    /*padding-left: 0;*/
    list-style: none;
}

.kontakt-pozadina {
    background-image: url(../images/kontakt-pozadina.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.transbox {
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(97, 150, 166, 0.7); /* Green background with 0.5 opacity */
    /*opacity: 0.8;*/
}

.pod-nav {
    /*background-image: linear-gradient(to right, #ff8095, #dc89d0, #909eee, #27ace2, #00afb9);*/
    /*color: white;*/
    /*background-color: #a8dadc;*/
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: white;
    font-size: 28px;
}

.form-control {
    display: block;
    width: -moz-available;
    width: -webkit-fill-available;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c8ccd0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.kontakt input, .kontakt textarea {
    background-color: #F4EDCC !important;
    /*border-radius: 0 !important;*/
    /*box-shadow: 8px 8px 6px 0 rgb(0 0 0 0.50);*/
}

.kontakt .form-control:focus {
    border-color: white !important;
    -webkit-box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
}

.kontakt .form-control:focus-visible {
    outline: none;
}

.send-button .send-dugme {
    border-radius: 15px;
    color: white;
    background-color: #A4CE95;
    /*border: #fed9b7 1px solid !important;*/
}

.send-button .send-dugme:hover {
    background-color: springgreen;
}

.send-button .form-control:focus {
    /*border-color: #009199 !important;*/
    -webkit-box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
}

label {
    display: inline-block;
}

.toast {
    width: 350px;
    max-width: 100%;
    font-size: .875rem;
    pointer-events: auto;
    background-color: rgba(255, 255, 255, .85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0.5rem 1rem rgba(0 0 0 0.15);
    border-radius: 0.25rem;
}

.toast:not(.show) {
    display: none;
}

.fade:not(.show) {
    opacity: 0;
}

.fade {
    transition: opacity .15s linear;
}


.menu ul li ul {
    display: none;
}

.menu ul li ul li {
    list-style: none;

}


.right {
    float: right;
}

.map {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px, rgba(0, 0, 0, 0.22) 0 4px 4px;
}

#hamburger span {
    cursor: pointer;
}

.dropdown-menu {
    background-color: rgba(244, 237, 204, 1) !important;
    position: relative !important;
    /*display: none;*/
    /*background-clip: padding-box;*/
    /*box-sizing: border-box;*/
    /*padding: 0.5rem 0;*/
    /*border: 1px solid rgba(0, 0, 0, .15);*/
}

.dropdown-item {
    /*display: block;*/
    /*clear: both;*/
    /*box-sizing: border-box;*/
    /*width: 100%;*/
    /*padding: 0.25rem 1rem;*/
    font-size: 18px;
}

.dropdown-item:hover {
    background-color: #4D545E !important;
    color: white !important;
}

.podfooter-link {
    text-decoration: none;
    color: #e4d481;
}

.podfooter-link:hover {
    text-decoration: underline;
}

/*Broj slika koji se prikazuje u slideru 100/width */
@media (min-width: 768px) {
    .slide {
        width: 25%;
    }

    .slide-artikli {
        width: 50%;
    }

    .card-align {
        flex-direction: row;
    }
}

.letter-spacing {
    letter-spacing: 0.5px;
}

.sidebar-linkovi {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #4D545E;
    border-bottom: 1px solid rgb(178, 157, 95);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 5px, rgba(0, 0, 0, 0.22) 0 5px 5px;
}

.lista-linkova {
    padding-left: 20px;
}
.lista-linkova .text-link {
    padding-top: 5px;
    padding-bottom: 5px;
}
.ul-lista li {
    padding-top: 5px;
    padding-bottom: 5px;
}
.aktivno > a {
    color: #6196A6 !important;
}

.aktivno-lista > a {
    background-color: #4D545E !important;
    color: white !important;
}


.slider {
    width: 100%;
    height: 90px;
    position: relative;
    overflow: hidden; /* <===  */
    border-radius: 15px;
}

.slider-artikli {
    width: 100%;
    max-width: 1200px;
    height: 300px;
    position: relative;
    overflow: hidden; /* <===  */
    border-radius: 15px;
}

.slider-md {
    width: 100%;
    max-width: 2400px;
    height: 80vh;
    position: relative;
    /*overflow: hidden; !* <===  *!*/
    border-radius: 15px;
}

.slide {
    max-width: 1200px;
    height: 90px;
    position: absolute;
    transition: all 0.5s;
}

.slide-artikli {
    max-width: 1200px;
    height: 300px;
    position: absolute;
    transition: all 0.5s;
    cursor: pointer;
}

.slide-md {
    max-width: 2400px;
    width: 100%;
    position: absolute;
    transition: all 0.5s;
    max-height: 80vh;
}


.slide img, .slide-artikli img, .slide-md img {
    max-width: 95%;
    height: auto;
    object-fit: contain;
}

.btn-slider {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    /*z-index: 10;*/
    cursor: pointer;
    background-color: #383e42;
    font-size: 18px;
    line-height: 18px;
}

.btn-slider-md {
    position: absolute;
    width: 5rem;
    height: 5rem;
    padding: 10px;
    border: none;
    /*border-radius: 50%;*/
    /*z-index: 10;*/
    cursor: pointer;
    background-color: #383e42;
    font-size: 24px;
    line-height: 24px;
    top: 0;
    right: 0;
}

/*.btn-slider:active {*/
/*    transform: scale(1.1);*/
/*}*/

.btn-prev, .btn-prev-md {
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 2%;
}

.btn-next, .btn-next-md {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    right: 2%;
}

.btn-prev-artikli {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 2%;
}

.btn-next-artikli {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    right: 2%;
}

.specifikacija-dugme {
    display: inline-flex;
    border-radius: 5px;
    color: white;
    background-color: #ba0d32;
}

.specifikacija-dugme:hover {
    background-color: #d70f3a;
}

.specifikacija-dugme:focus {
    -webkit-box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
}

.specifikacija-dugme a {
    text-decoration: none;
    padding: 5px;
}

.text-center {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

/*MODAL TEST CSS*/
/* The Modal (background) */
.md-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    /*opacity: 0.1;*/
    /* background: rgba(228, 240, 227, .8); */
    /*-webkit-transition: all .3s;*/
    /*-moz-transition: all .3s;*/
    background-color: #000000;
    /*transition: all .3s;*/
}

.md-show ~ .md-overlay {
    opacity: 0.9;
    visibility: visible;
}

.md-show {
    visibility: visible !important;
}

.md-modal {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.md-show.md-effect-12 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    height: 100vh;
}

.md-effect-12 .md-content, .md-effect-12 .md-content h3 {
    background: 0 0;
    color: #000;
}

.md-effect-12 .md-content {
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    height: 100vh;
}

@media (max-width: 768px) {
    .btn-slider-md {
        position: absolute;
        width: 3rem;
        height: 3rem;
        padding: 10px;
        border: none;
        /*border-radius: 50%;*/
        /*z-index: 10;*/
        cursor: pointer;
        background-color: #383e42;
        font-size: 16px;
        line-height: 16px;
        top: 0;
        right: 0;
    }

    .slider-artikli {
        touch-action: none;
    }
}

/*.scroll-top {*/
/*    background: black;*/
/*    border: none;*/
/*    padding: 2rem;*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    cursor: pointer;*/
/*    transition: all ease 0.5s;*/
/*    opacity: 0;*/
/*    color: #fff200;*/
/*}*/


#hamburgerImg.hamburgerHam {
    font-size: 32px;
    line-height: 32px;
    color: black;
}

#hamburgerImg.hamburgerX {
    font-size: 26px;
    line-height: 26px;
    color: black;
}

ul {
    padding-left: 20px;
}
.renta-lista {
    padding-left: 25px;
    font-size: 20px;
    list-style: none;
}
.color-green {
    color: springgreen;
}
.text-muted {
    color: goldenrod;
}

.img-experience {
    position: relative;
    border-top: solid 3px #6196A6;
    border-bottom: solid 3px #6196A6;
}

.img-experience img {
    width: 100%;
    height: auto;
}

.pet-slika p {
    color: white !important;
}

.div-5 {
    position: relative;
}

.slike-5 {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(97, 150, 166, 0.6); /* Green background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 10px 0;
}

.slike-5 p {
    margin: 0;
}

.grey-color {
    color: #595959;
}

.white-filter {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(85deg) brightness(103%) contrast(104%);
}

.header-div {
    /*position: relative;*/
    background-image: url("../images/header-mercedes-kombi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header-pozadina-country {
    /*position: absolute;*/
    /*top: 40%;*/
    /*transform: translateY(-40%);*/
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: white;
    font-size: 30px;
    /*width: 100%;*/
    /*height: auto;*/
}

.header-pozadina {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: white;
    font-size: 30px;
    width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .header-div {
        /*position: relative;*/
        background-image: url("../images/header-mercedes-kombi_mob.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.paralax {
    background-image: url("../images/blue-world.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.paralax-pozadina {
    background-color: rgba(97, 150, 166, 0.7);
}

.number {
    color: white;
    background-color: #5F5D9C;
    width: 20px;
    border-radius: 50%;
}

.color-white {
    color: white;
}

table, tr, td, th {
    background-color: #6196A6 !important;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}
th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

tbody, td, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

.table > :not(caption) > * > * {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table > tbody {
    vertical-align: inherit;
}

.table > thead {
    vertical-align: bottom;
}

.table > :not(:first-child) {
    border-top: 2px solid currentColor;
}

.table-hover > tbody > tr:hover > * {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
}

.table-dark {
    --bs-table-bg: #212529;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
}
.pre-table a {
    color: white;
    text-decoration: none;
}

.pre-table a:hover {
    color: #0fa3b2;
}
.table-polasci a {
    color: white;
}

.table-polasci a:hover {
    color: #0fa3b2;
}

.table-polasci td {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.rec {
    border: 1px solid #6196A6;
    -webkit-box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.3);
}

.rec:hover {
    background-color: #f1f1f1;
}